.switcher {
  display: none;
}

img {
  width: 3rem;
  height: 3rem;
}

.switcher-wrapper {
  background: var(--label);
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  position: relative;
  padding: 10px;
}

.circle-wrapper {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  padding: 5px;
  flex-direction: row;
}

.circle {
  border-radius: 50px;
  height: 100%;
  width: 3.5rem;
  background: var(--light);
  transition-duration: 1s;
  transform: translateX(0);
}

.light {
  transform: translateX(66px);
}